@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #cda45e;
}

/* Common Css  */

.text-warning {
  color: var(--main-color) !important;
}

.bg-warning {
  background: var(--main-color) !important;
}

.dash {
  display: flex;
  align-items: center;
}

.dash-line {
  width: 120px;
  height: 1.8px;
  background-color: #ffffff43;
}

/* Header Start  */

.banner {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("./images/background/banner-1.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.nav2 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.header-content {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.play-btn button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #ffc1076d;
  animation: play 1.5s infinite;
}

@keyframes play {
  0% {
    box-shadow: 0px 0px 0px 0px #ffc1076d;
  }

  50% {
    box-shadow: 0px 0px 0px 10px #ffc1076d;
  }

  100% {
    box-shadow: 0px 0px 0px 0px #ffc1076d;
  }
}

/* Section 1  */

.section-1 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./images/background/bg-1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.section-1 .image-container {
  position: relative;
}

.section-1 .image-container::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: 20px;
  left: 20px;
  border-left: 5px solid var(--main-color);
  border-top: 5px solid var(--main-color);
  transition: 0.2s ease-in-out;
}

.section-1 .image-container::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 20px;
  right: 20px;
  border-right: 5px solid var(--main-color);
  border-bottom: 5px solid var(--main-color);
  transition: 0.2s ease-in-out;
}

.section-1 .image-container {
  transition: 0.3s ease-in-out;
}

.section-1 .image-container:hover {
  transform: scale(1.03);
}

.section-1 .image-container:hover::before {
  top: 15px;
  left: 15px;
}

.section-1 .image-container:hover::after {
  bottom: 15px;
  right: 15px;
}

/* Section 2  */

.section-2 .card-container {
  background: #1a1414;
}

/* Section 3  */

.section-3 {
  background-color: #1a1814;
}

.section-3 .filter-btn p{
  transition: 0.3s ease-in-out;
  cursor: pointer;
}


.section-3 .filter-btn p:hover{
  color: var(--main-color) !important;
}